#team
  #header.row.collapse-small
    .blurred(style="background-image: url(#{avatar})")
    .content
      a.th.radius
        img(src="#{avatar}", width=200, height=200)
      h2 #{names}
      h4 #{teamName}
    .hide-blur
  .row.bar
    .small-12.medium-4.columns
      h6.bio  Bio
      p.tag-line #{tagLine}
    .small-12.medium-8.columns
      ul.small-block-grid-3.medium-block-grid-4.large-block-grid-5
        li 
          h6 Team No.
          span.value #{teamNumber}
        li 
          h6 University
          span.value #{university}
        li
          h6 Raised
          span.value &euro;
          = Humanize.intComma((amountRaisedOnline+amountRaisedOffline)/100)
  .row
    .small-12.columns.collapse-small
      ul.tabs(data-tab)
        li.tab-title.active
          a(href="#about-panel") About
        li.tab-title
          a(href="#donations-panel") Donations
      .tabs-content
        .content.active#about-panel
          if locals.description
            != description.autoLink().split("\n").join("<br />")
          else
            | #{tagLine}

          if locals.video
            h3.video Video
              | #{video}
        .content#donations-panel