.row.collapse.info-window
  .small-5.columns
    .profile
      a(href="https://jailbreakhq.org/teams/#{slug}").th
        img(width="150", height="150", src="#{avatar}")
  .small-7.columns
    span.time
      = moment(lastCheckin.time*1000).fromNow()
    h3 
      a(href="https://jailbreakhq.org/teams/#{slug}") #{names}
      span.label.round(class="#{university.toLowerCase()}") #{university}
      span.label.round
        = Humanize.ordinal(position)
    h4 #{teamName}
    p
      strong #{lastCheckin.location}: 
      | #{lastCheckin.status}
    