
mixin errorContainer
  .row
    .small-12.columns
      .error-container
        block

mixin alert(resource, message, status)
  .alert-box.alert.round
    if status == 503
      | The #{resource} is temporarily unavailable please try again soon
    else if status == 404
      | The #{resource} you were looking for was not found. 
      a(href="/") Go to home page
    else
      | Error loading the #{resource}
      if message
        | : #{message} 

mixin option(value, activeValue, text)
  if value == activeValue
    option(value="#{value}", selected) #{text}
  else
    option(value="#{value}") #{text}